#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --iphone-border-radius:38.5pt;
}


.phone {
  /* background-color: red; */
  position: relative;
  background-color: #242424;
  border-radius: var(--iphone-border-radius);
  aspect-ratio: 9/19.5;
  max-height: 90vh;
  height: 100vh;

  /* display: flex; */
  /* justify-content: space-between; */
}

.input-area{
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* background-color: white; */
}

.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
}

.digit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  aspect-ratio: 1;
  margin: 0.5rem;
  font-size: 2rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
  height: 4rem;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 var(--iphone-border-radius) var(--iphone-border-radius);
  overflow: hidden;
}

.navbar > button {
  flex-basis: 100%;
  padding: 1rem;
  height: 100%;
  margin: 0;
  /* background-color: inherit; */
  border: none;
  /* margin: 1rem; */
}